.channelContainer {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.thumbnail {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 100%;
}

.nameAndStatistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* line-height: 1.3; */
}

.name::before {
  content: '';
  border: 2px solid var(--color-brand);
  margin-right: 0.3rem;
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.statistics {
  display: flex;
  gap: 1rem;
}
