.container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -3rem;
  right: 0;
  width: 100%;
  background-image: linear-gradient(90deg, #3f2b96 0%, #a8c0ff 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.keyword {
  font-size: 1.3rem;
  cursor: pointer;
}
