.container {
  margin-top: 2rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-purple-light);
  border-radius: 20px;
  height: 38rem;
}

.title {
  font-weight: 600;
}
