.sideBarContainer {
  background-color: var(--color-purple-light-opacity);
  padding: 0.8rem;
  width: 25rem;
  height: 80vh;
}

.historyTitleBox {
  color: var(--color-gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.historyIcon {
  font-size: 2rem;
}

.historyText {
  font-size: 1.7rem;
  font-weight: 500;
}

.searched {
  display: flex;
  flex-direction: column;
}

.keywordBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border: dotted var(--color-purple-dark) 1px;
  margin-bottom: 0.2rem;
}

.deleteIcon {
  cursor: pointer;
  font-size: 1.7rem;
}

@media screen and (max-width: 1280px) {
  .sideBarContainer {
    width: 10rem;
  }
}
